<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>932281149-mv275a1esj0f7shja74b60fnqneng1hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932281149-mv275a1esj0f7shja74b60fnqneng1hd</string>
	<key>API_KEY</key>
	<string>AIzaSyBkThwKZbmrj51qZdyRjUVly1oLJXj1pZc</string>
	<key>GCM_SENDER_ID</key>
	<string>932281149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.franticgoose.hitchhiker</string>
	<key>PROJECT_ID</key>
	<string>hitchtest-36132</string>
	<key>STORAGE_BUCKET</key>
	<string>hitchtest-36132.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932281149:ios:a0107f1691e45ad3</string>
	<key>DATABASE_URL</key>
	<string>https://hitchtest-36132.firebaseio.com</string>
</dict>
</plist>